<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.fely.weightedaverage">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".utils.WipeDataUtil"
        android:theme="@style/Light">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.LicenceActivity"
            android:label="@string/action_licenses"
            android:screenOrientation="portrait"
            android:permission="cz.fely.SHOW_LICENSES">
            <intent-filter>
                <action android:name="cz.fely.weightedaverage.SHOW_LICENSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.AboutFragment"
            android:label="@string/aboutAppMenuItem" />
        <activity
            android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>
</manifest>